<script>
    export let checked = false;
</script>

<div class="form-control">
    <label class="label cursor-pointer">
      <span class="label-text">Remember me</span> 
      <input type="checkbox" checked={checked} class="checkbox" data-cy="remember">
    </label>
  </div>