<script>
	export let label;
	export let placeholder;
	export let type;
</script>

<div class="form-control w-full max-w-xs">
	<label for={label} class="label">
		<span class="label-text">Enter your {label}</span>
	</label>
	<input
		type={type}
		name={label}
		data-cy={label}
		{placeholder}
		class="input input-bordered w-full max-w-xs"
	/>
</div>
