<script>
	import { goto } from '$app/navigation';
	import UserStore from '../../stores/userStore.js';
	let name;
	let password;
	let password2;
	let error;

	const handleChange = () => {
		if (!name || !password || !password2) {
			name = '';
			password = '';
			password2 = '';
			error = 'Empty field(s)';
			return;
		}
		if (password && password2) {
			if ($UserStore.password !== password) {
				error = 'Wrong current password';
			} else {
				let user = {
					name,
					password: password2
				};
				UserStore.update(() => {
					error = '';
					return user;
				});
			}
		}
		name = '';
		password = '';
		password2 = '';

		if (!error) {
			goto('/films');
		}
	};
</script>

<div class="flex flex-col">
	{#if error}
		<div class="w-96 alert alert-error shadow-lg mb-4" data-cy="error-credentials">
			<div>
				<svg
					xmlns="http://www.w3.org/2000/svg"
					class="stroke-current flex-shrink-0 h-6 w-6"
					fill="none"
					viewBox="0 0 24 24"
					><path
						stroke-linecap="round"
						stroke-linejoin="round"
						stroke-width="2"
						d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
					/></svg
				>
				<span>{error}</span>
			</div>
		</div>
	{/if}
	<div class="card w-96 h-auto glass">
		<div class="card-body items-center text-center">
			<h2 class="card-title text-3xl" data-cy="settings-name">{$UserStore.name}</h2>
			<form on:submit|preventDefault={handleChange}>
				<div class="form-control w-full max-w-xs">
					<label for="name" class="label">
						<span class="label-text">Change your name</span>
					</label>
					<input
						type="text"
						name="name"
						data-cy="name"
						placeholder="Obiwan"
						class="input input-bordered w-full max-w-xs"
						bind:value={name}
					/>
				</div>
				<div class="form-control w-full max-w-xs">
					<label for="name" class="label">
						<span class="label-text">Enter your current password</span>
					</label>
					<input
						type="password"
						name="password"
						data-cy="password"
						placeholder="Password"
						class="input input-bordered w-full max-w-xs"
						bind:value={password}
					/>
				</div>
				<div class="form-control w-full max-w-xs">
					<label for="name" class="label">
						<span class="label-text">Enter your new password</span>
					</label>
					<input
						type="password"
						name="password"
						data-cy="password2"
						placeholder="Password"
						class="input input-bordered w-full max-w-xs"
						bind:value={password2}
					/>
				</div>
				<div class="card-actions my-auto justify-center mt-8">
					<button class="btn btn-primary" data-cy="btn-login" action="submit"
						>Change my credentials</button
					>
				</div>
			</form>
		</div>
	</div>
</div>
