<script context="module">
	export function load({ error, status }) {
		return {
			props: { error, status }
		};
	}
</script>

<script>
	export let error;
	export let status;
</script>

<div class="flex flex-col justify-center">
	<div class="mockup-code">
		<pre data-prefix="$"><code>Ooops</code></pre>
		<pre data-prefix=">" class="text-warning"><code>You lost the force...</code></pre>
		<pre data-prefix=">" class="text-error"><code>{error.message}</code></pre>
		<pre data-prefix=">" class="text-error"><code>{status}</code></pre>
		<pre data-prefix=">" class="text-info"><code>rebooting...</code></pre>
        <pre data-prefix=">" class="text-success"><code>👉 <a href="/films" class="underline">The force is here</a></code></pre>
	</div>
</div>
