<script>
	import '../app.css';
</script>

<div data-theme="bumblebee" class="login flex w-full min-h-screen justify-center">
	<slot />
</div>

<style>
	.login {
		background: url(/images/bg/bg_sw.jpg)
			no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
</style>
