<script>
	import Header from '$lib/header/Header.svelte';
	import '../../app.css';
</script>

<div data-theme="bumblebee" class="films w-full min-h-full">
	<Header />
	<main class="flex justify-center">
		<slot />
	</main>
</div>

<style>
	.films {
		background: url(/images/bg/bg_sw1.jpg) no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
        background-color: #090400;
	}
</style>
