<script>
	import FilmsStore from '../../stores/filmsStore.js'
	import FilmPoster from '$lib/filmposter/FilmPoster.svelte'

	const handleRemove = value => {
		FilmsStore.update(() => {
			return $FilmsStore.filter(film => film.episode_id != value )
		})
	}

</script>


<div class="flex flex-wrap gap-8 p-4 justify-center">
	{#each $FilmsStore as film (film.title)}
	<div class="flex flex-col items-center gap-2">
		<FilmPoster {film} />
		<button class="btn btn-primary" data-cy="btn-removeFav" on:click={handleRemove(film.episode_id)}>Remove from watchlist</button>
	</div>
	{:else}
	<div class="flex flex-col justify-center">
		<div class="mockup-code">
			<pre data-prefix=">" class="text-warning"><code>Empty, your force...</code></pre>
			<pre data-prefix=">" class="text-error"><code>A film, you should add</code></pre>
			<pre data-prefix=">" class="text-info"><code>rebooting...</code></pre>
			<pre data-prefix=">" class="text-success"><code>👉 <a href="/films" class="underline">The force is here</a></code></pre>
		</div>
	</div>
	{/each}
</div>

