<script>
	import UserStore from '../../stores/userStore.js';
	import { goto } from '$app/navigation';

	let name;
	let password;
	let error;
	let loading = false;

	const handleLogin = () => {
		error = '';
		if (!name || !password) {
			error = 'Empty name &/or password!';
			return;
		}
		if (name && password) {
			console.log($UserStore)
			const existUser = $UserStore.name === name && $UserStore.password === password;
			if (existUser) {
				loading = true;
				name = '';
				password = '';
				error = '';
				goto('/films');
			} else {
				loading = false;
				error = 'Wrong name &/or password!';
				name = '';
				password = '';
			}
		}
	};
</script>

<div class="flex flex-col">
	{#if error}
		<div class="w-96 alert alert-error shadow-lg mb-4" data-cy="error-login">
			<div>
				<svg
					xmlns="http://www.w3.org/2000/svg"
					class="stroke-current flex-shrink-0 h-6 w-6"
					fill="none"
					viewBox="0 0 24 24"
					><path
						stroke-linecap="round"
						stroke-linejoin="round"
						stroke-width="2"
						d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
					/></svg
				>
				<span>{error}</span>
			</div>
		</div>
	{/if}
	{#if loading}
		<div class="loading" data-cy="loading">
			<img alt="loading" src="https://media.giphy.com/media/fxk77fLi2ZPQU6kHKx/giphy.gif" class="w-44" />
		</div>
	{:else}
	<div class="card w-96 h-96 glass">
		<div class="card-body items-center text-center">
			<h2 class="card-title text-3xl">Starflix</h2>
			<form on:submit|preventDefault={handleLogin}>
				<div class="form-control w-full max-w-xs">
					<label for="name" class="label">
						<span class="label-text">Enter your name</span>
					</label>
					<input
						type="text"
						name="name"
						data-cy="name"
						placeholder="Obiwan"
						class="input input-bordered w-full max-w-xs"
						bind:value={name}
					/>
				</div>
				<div class="form-control w-full max-w-xs">
					<label for="name" class="label">
						<span class="label-text">Enter your password</span>
					</label>
					<input
						type="password"
						name="password"
						data-cy="password"
						placeholder="Password"
						class="input input-bordered w-full max-w-xs"
						bind:value={password}
					/>
				</div>
				<div class="card-actions my-auto justify-center mt-8">
					<button class="btn btn-primary" data-cy="btn-login" action="submit"
						>Join the battle</button
					>
				</div>
			</form>
		</div>
	</div>
	{/if}
</div>
