<script>
	import axios from 'axios';
	import FilmPoster from '../../lib/filmposter/FilmPoster.svelte';
	let query;
	let type;
	let searching = false;
	let loading = false;
	let results = [];
	let hasResults = true;

	const handleClear = () => {
		query = '';
		searching = false;
		results = [];
	};

	const handleSearch = () => {
		if (!query) {
			return;
		}
		loading = true;
		searching = true;
		axios
			.get(`https://swapi.dev/api/${type}/?search=${query}`)
			.then((res) => {
				results = res.data.results;
				if (results.length > 0) {
					hasResults = true;
				} else {
					hasResults = false;
				}
				loading = false;
				query = '';
			})
			.catch((err) => {
				console.log(err);
			});
	};
</script>

<div class="flex flex-col gap-9">
	<form on:submit|preventDefault={handleSearch} class="flex w-full flex-wrap gap-8 justify-center">
		<select
			bind:value={type}
			class="select select-secondary max-w-xs"
			data-cy="select-type"
			on:change={() => handleClear()}
		>
			<option>films</option>
			<option>people</option>
		</select>
		<div class="form-control">
			<div class="input-group">
				<input bind:value={query} type="text" placeholder="Search…" class="input input-bordered" data-cy="input-query" />
				<button class="btn btn-square btn-secondary" action="submit" data-cy="btn-search">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						class="h-6 w-6"
						fill="none"
						viewBox="0 0 24 24"
						stroke="currentColor"
						><path
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
						/></svg
					>
				</button>
			</div>
		</div>
	</form>
	{#if !searching}
		<div class="flex flex-col justify-center">
			<div class="mockup-code" data-cy="empty-search">
				<pre data-prefix=">" class="text-success"><code>Force, you must search...</code></pre>
			</div>
		</div>
	{/if}
	{#if loading}
		<div class="loading" data-cy="loading">
			<img alt="loading" src="https://media.giphy.com/media/fxk77fLi2ZPQU6kHKx/giphy.gif"  class="w-44" />
		</div>
	{/if}
	<div class="results">
		{#if type === 'films'}
			<div class="flex flex-wrap items-center gap-4 p-4">
				{#each results as result}
					<a href={`/film/${result.url.replace(/\D/g, '')}`} data-cy="film-found">
						<FilmPoster film={result} />
					</a>
				{/each}
			</div>
		{:else}
			<div class="flex flex-wrap items-center gap-4 p-4">
				{#each results as result}
					<div class="flex flex-col items-center">
						<figure>
							<img
								src={`/images/characters/${result.url.replace(/\D/g, '')}.jpg`}
								alt={result.name}
								srcset=""
								class="w-36"
								data-cy="character-image"
							/>
						</figure>
						<h1 class="text-center text-lg text-primary font-bold text-swcolor" data-cy="character-name">{result.name}</h1>
					</div>
				{/each}
			</div>
		{/if}
	</div>
	{#if !hasResults && searching}
		<div class="flex flex-col justify-center">
			<div class="mockup-code" data-cy="no-results">
				<pre data-prefix=">" class="text-error"><code>Force not found...</code></pre>
				<pre data-prefix=">" class="text-warning"><code>Keep trying 🗲</code></pre>
			</div>
		</div>
	{/if}
</div>
