<script context="module">
	export async function load({ fetch }) {
		const res = await fetch(`https://swapi.dev/api/films`);
		const data = await res.json();
		if (res.ok) {
			console.log(data)
			return {
				props: {
					films: data.results
				}
			};
		}
		return {
			status: res.status,
			error: new Error('Could not fetch the galaxy')
		};
	}
</script>


<script>
	import FilmPoster from '../../lib/filmposter/FilmPoster.svelte';
	export let films;
</script>

<div class="container">
	<div class="timeline">
		<ul>
				{#each films as film}
				<li>
					<a href={`/film/${film.url.replace(/\D/g, "")}`} data-cy="film-poster">
						<FilmPoster {film} />
					</a>
				</li>
				{/each}
		</ul>
	</div>
</div>

<style>
	.container {
		min-height: 100vh;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 100px 0;
	}
	.timeline {
		width: 80%;
		height: auto;
		max-width: 800px;
		margin: 0 auto;
		position: relative;
	}

	
	@media only screen and (min-width: 768px) {
		.timeline:before {
			content: '';
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			width: 2px;
			height: 100%;
			background-color: gray;
		}
		.timeline ul li {
			width: 50%;
			position: relative;
			margin-bottom: 50px;
		}
		.timeline ul li:nth-child(odd) {
			float: left;
			clear: right;
			transform: translateX(-30px);
			border-radius: 20px 0px 20px 20px;
		}
		.timeline ul li:nth-child(even) {
			float: right;
			clear: left;
			transform: translateX(30px);
			border-radius: 0px 20px 20px 20px;
		}
		.timeline ul li::before {
			content: '';
			position: absolute;
			height: 20px;
			width: 20px;
			border-radius: 50%;
			background-color: gray;
			top: 0px;
		}
		.timeline ul li:nth-child(odd)::before {
			transform: translate(50%, -50%);
			right: -30px;
		}
		.timeline ul li:nth-child(even)::before {
			transform: translate(-50%, -50%);
			left: -30px;
		}
		.timeline-content .date {
			position: absolute;
			top: -30px;
		}
		.timeline ul li:hover::before {
			background-color: #ffe819;
		}
	}
</style>
