<script context="module">
    export async function load({ fetch, params }) {
        const id = params.id
        const res = await fetch(`https://swapi.dev/api/films/${id}/`)
        const film = await res.json()
        if(res.ok) {
            return {
                props: {
                   film
                }
            }
        }
        
        return {
            status: 301,
            // error: new Error('Could not retrieve the details')
            redirect: '/films'
        }  
    }
</script>

<script>
    import FilmPoster from "../../lib/filmposter/FilmPoster.svelte";
    import Character from "../../lib/character/Character.svelte";
    import FilmsStore from '../../stores/filmsStore.js'
    export let film;
    
    $:added = $FilmsStore.find(f => f.episode_id === film.episode_id)

    const handleAdd = value => {
        FilmsStore.update(currentFilms => {
            const existFilm = currentFilms.find(f => f.title === value.title);
            if (!existFilm) {
                return [...currentFilms, value];
            } else {
                added = true;
                return currentFilms;
            }
        })
        added = true
    }

	const handleRemove = value => {
		console.log($FilmsStore)
		FilmsStore.update(() => {
			return $FilmsStore.filter(film => film.episode_id != value )
		})
		console.log($FilmsStore)
         added = false
	}

</script>

<div class="flex flex-col gap-2 items-center w-full min-h-screen text-swcolor" >
    {#if added }
    <div class="w-96 alert alert-success shadow-lg mb-4" data-cy="alert-added-fav">
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
            <span>Added to the watchlist !</span>
        </div>
    </div>
    {/if}
    <FilmPoster {film}/>
    <span>Directed by {film.director}</span>
    <span>Release date: {film.release_date}</span>
    {#if !added}
    <button class="btn btn-primary" data-cy="btn-addFavorites" on:click={handleAdd(film)}>Add to watchlist</button>
    {:else}
    <button class="btn btn-primary" data-cy="btn-removeFavorites" on:click={handleRemove(film.episode_id)}>Remove from watchlist</button>
    {/if}
    <h3 class="text-2xl mt-4">Summary</h3>
    <p class="px-28">{film.opening_crawl}</p>
    <h3 class="text-2xl mt-4">Casting</h3>
    <div class="flex px-28 gap-4 flex-wrap">
        {#each film.characters as api }
        <Character api={api} />
        {/each}
    </div>
</div>

