<script>
	import UserStore from "../../stores/userStore.js";
</script>

<header class="px-60 pt-4">
	<div class="navbar mb-40 rounded-box glass">
		<div class="navbar-start">
			<div class="dropdown lg:hidden">
				<label tabindex="0" class="btn btn-ghost btn-circle"  data-cy="dropdown-menu">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						class="h-5 w-5"
						fill="none"
						viewBox="0 0 24 24"
						stroke="currentColor"
						><path
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							d="M4 6h16M4 12h16M4 18h7"
						/></svg
					>
				</label>
				<ul
					tabindex="0"
					class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52"
				>
					<li><a href="/films">Films</a></li>
					<li><a href="/watchlist">My watchlist</a></li>
					<li><a href="/search">Search</a></li>
				</ul>
			</div>
			<a href="/films" class="btn btn-ghost normal-case text-xl text-swcolor" data-cy="title">Starflix</a>
		</div>
		<div class="navbar-center  hidden lg:flex">
			<ul class="menu menu-horizontal p-0 text-swcolor">
				<li><a href="/films">Films</a></li>
				<li><a href="/watchlist">My watchlist</a></li>
				<li><a href="/search">Search</a></li>
			</ul>
		</div>
		<div class="navbar-end">
			<div class="dropdown dropdown-end">				
					<label tabindex="0" class="flex items-center" data-cy="profile-menu">
                        <div class=" btn btn-ghost btn-circle avatar " data-cy="profile-image">
                            <div class="w-10 rounded-full">
                                <img src="https://api.lorem.space/image/face?hash=33791" />
                            </div>

                        </div>
                            <span class="btn btn-ghost px-2 text-swcolor" data-cy="profile-name">{$UserStore.name}</span>
                        </label>
				<ul
					tabindex="0"
					class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52"
				>
					<li>
						<a href="/profile" class="justify-between"> Profile </a>
					</li>
					<li><a href="/">Logout</a></li>
				</ul>
			</div>
		</div>
	</div>
</header>
