<script>
    export let api;

import { onMount } from 'svelte';
    let charaName;
    let charaId = api.replace(/\D/g, "")

    onMount(async () => {
        const response = await fetch(api);
        const character = await response.json();
        if(response.ok) {
            charaName = character.name
        }
    })
</script>


<div class="flex flex-col text-center text-swcolor">
    <figure>
        <img src={`/images/characters/${charaId}.jpg`} alt={charaName} srcset="" class="w-36" />
    </figure>
    <div class="flex text-center flex-col">
        <h1 class="text-lg text-primary font-bold">{charaName}</h1>
    </div>
</div>
