/* Write your global styles here, in PostCSS syntax */
@import '@fontsource/cutive-mono';
@import '@fontsource/rubik';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font-mono: 'Cutive Mono', monospace;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;   
    min-width: 100vh;
    font-family: var(--font-mono);
}