<script>
	export let film;

	function romanize(num) {
		var lookup = {
				M: 1000,
				CM: 900,
				D: 500,
				CD: 400,
				C: 100,
				XC: 90,
				L: 50,
				XL: 40,
				X: 10,
				IX: 9,
				V: 5,
				IV: 4,
				I: 1
			},
			roman = '',
			i;
		for (i in lookup) {
			while (num >= lookup[i]) {
				roman += i;
				num -= lookup[i];
			}
		}
		return roman;
	}
</script>

<div class="item w-96 h-auto bg-base-100 py-1 px-4">
	<p class="text-base text-primary font-semibold text-center" data-cy="text-episode">
		Episode {romanize(film.episode_id)}
		<span class="text-base text-primary font-semibold">
			- {film.release_date.substring(4, '')}</span
		>
	</p>
	<figure data-cy="poster">
		<img src={`/images/films/${film.episode_id}.jpg`} alt={film.title} srcset="" class="image" />
	</figure>

	<h1 class="text-lg text-center text-primary font-bold" data-cy="film-title">{film.title}</h1>
</div>

<style>
	.timeline ul {
		list-style: none;
	}
	.timeline ul li {
		padding: 20px;
		background-color: #1e1f22;
		color: white;
		border-radius: 10px;
		margin-bottom: 20px;
	}
	.timeline ul li:last-child {
		margin-bottom: 0;
	}
	.timeline-content h1 {
		font-weight: 500;
		font-size: 25px;
		line-height: 30px;
		margin-bottom: 10px;
	}
	.timeline-content p {
		font-size: 16px;
		line-height: 30px;
		font-weight: 300;
	}
	.timeline-content .date {
		font-size: 12px;
		font-weight: 300;
		margin-bottom: 10px;
		letter-spacing: 2px;
	}

	@media only screen and (min-width: 768px) {
		.timeline:before {
			content: '';
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			width: 2px;
			height: 100%;
			background-color: gray;
		}
		.timeline ul li {
			width: 50%;
			position: relative;
			margin-bottom: 50px;
		}
		.timeline ul li:nth-child(odd) {
			float: left;
			clear: right;
			transform: translateX(-30px);
			border-radius: 20px 0px 20px 20px;
		}
		.timeline ul li:nth-child(even) {
			float: right;
			clear: left;
			transform: translateX(30px);
			border-radius: 0px 20px 20px 20px;
		}
		.timeline ul li::before {
			content: '';
			position: absolute;
			height: 20px;
			width: 20px;
			border-radius: 50%;
			background-color: gray;
			top: 0px;
		}
		.timeline ul li:nth-child(odd)::before {
			transform: translate(50%, -50%);
			right: -30px;
		}
		.timeline ul li:nth-child(even)::before {
			transform: translate(-50%, -50%);
			left: -30px;
		}
		.timeline-content .date {
			position: absolute;
			top: -30px;
		}
		.timeline ul li:hover::before {
			background-color: #ffe819;
		}
	}
</style>
